<div>payment</div>
<h2>Fine Scotches</h2>
<div ng-controller="paymentController" class="loading-pane="isPaneShown">
<h1>Spinner Example</h1>

<fredloading ng-show="loadingStatus"></fredloading>
<div ng-repeat="car in cars">
    <li>{{car.name}}</li>
</div>
<button ng-click="clickMe()" class="btn btn-primary">CLICK ME</button>
    <!--<table class="table table-hover table-striped table-bordered">-->
        <!--<thead>-->
        <!--<tr>-->
            <!--<td>Name</td>-->
            <!--<td>Cost</td>-->
        <!--</tr>-->
        <!--</thead>-->
        <!--<tbody>-->

        <!--<tr ng-repeat="scotch in scotches">-->
            <!--<td>{{ scotch.name }}</td>-->
            <!--<td>${{ scotch.price }}</td>-->
        <!--</tr>-->

        <!--</tbody>-->
    <!--</table>-->
</div>
